[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=com.me.legoru.ColorTubes
Exec=/usr/bin/com.me.legoru.ColorTubes
Name=Color Tubes
Name[en]=Color Tubes
Name[ru]=Цветные пробирки
Name[tr]=Renkli tüpler

[X-Sailjail]
Permissions=
OrganizationName=com.me.legoru
ApplicationName=ColorTubes

[X-HarbourBackup]
BackupPathList=.local/share/com.me.legoru/ColorTubes/
BackupConfigList=/apps/ColorTubes/
