[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=com.me.legoru.ColorTubes
Exec=/usr/bin/com.me.legoru.ColorTubes
Name=Color Tubes
Name[en]=Color Tubes
Name[ru]=Цветные пробирки
Name[tr]=Renkli tüpler

########################################################
#           for AuroraOS 4
[X-Sailjail]
Permissions=
OrganizationName=com.me.legoru
ApplicationName=ColorTubes

########################################################
#           for AuroraOS 5
# [X-Application]
# Permissions=
# OrganizationName=com.me.legoru
# ApplicationName=ColorTubes

# [X-Aurora-Application]
# IconMode=Crop
